/*.oe_list_field_cell[data-field="servizio_elaborato_ids.categoria_elaborato_id.lettera"{
    font-weight: bold;
}*/

/*.openerp .oe_list_content > tbody > tr:nth-child(odd) {
    background-color: #f0f0fa !important;
}*/

/*openerp .oe_list_content > tbody > tr  {
    padding: 3px 6px;
    white-space: pre-line;
    color: red;
}*/
